body{
     
font-family: 'Didact Gothic', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Overpass', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;

margin: 0px;
padding: 0px;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 130px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}

.half-width img{
    width: 50%;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color:white;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}