body{
     
font-family: 'Didact Gothic', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Overpass', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}